{% extends 'base1.html' %}
{% load staticfiles %}
{% block content %}
	<!-- banner -->
	<div class="banner-1">
	</div> 
	<!-- //banner -->
	<!-- about -->
	<div class="about">
		<div class="container">  
			<div class="w3ls-title">
				<h3 class="agileits-title">About Us</h3> 
			</div> 
			<div class="about-w3ls-row"> 
				<div class="col-md-5 about-left">
					<img src="{% static 'images/about.jpg' %}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-7 about-right"> 
					<div class="about-agile-row">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class=" nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">About</a></li>
								<li role="presentation"><a href="#carl" role="tab" id="carl-tab" data-toggle="tab" aria-controls="carl"> Features</a></li>
							</ul> 
							<div class="clearfix"> </div>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
									<div class="tabcontent-grids">
										<p>在这里，你可以对教师添加文字评价，系统
                                            会自动根据学生对教师的评价数据进行智能化分析，生成评价标签，
                                            并以词云的形式 展示出来，带给用户最直观的结果。</p>
										<ul>
											<li><i class="fa fa-check-square-o"></i> 新颖 </li>
											<li><i class="fa fa-check-square-o"></i> 词云展示 </li>
											<li><i class="fa fa-check-square-o"></i> 智能分析 </li>
											<li><i class="fa fa-check-square-o"></i> 十分高效 </li>
										</ul>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="carl" aria-labelledby="carl-tab">
									<div class="tabcontent-grids">
                                        <p>大部分高校不会将所有学生评价展示出来，而我们不仅对数据进行处理，而且在学生评价后可以看到所有的评价，实现了数据可视化。</p>
										<p>收集评价大部分高校采用的是书面的调查问卷，效果不好，而我们采用网站的方式，大大提高了效率。</p>
                                        <p>教师评价的数据繁多而复杂，处理很困难，我们的网站采用后台自动处理分析的方式，真正实现了智能化。</p>
                                        <p>由于评价数据较多，如果用户不想逐条查看，我们将评价抽取成标签，并制作成词云的方式，展示出来。</p>
                                        <p>我们将评价标签统计词频 ，后台将标签按频率由大到小展示出来，十分直观！</p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div> 
				<div class="clearfix"> </div> 
			</div>
		</div>
	</div>
	<!-- //about -->
<!-- work start here -->
	<div class="work jarallax">
		<div class="container">
			<div class="work-agileinfo">
				<h3>Are You Impressed By Our Work?</h3>
				<p>Teacher Comments Analysis is there anyone who loves or pursues or desires to obtain pain.</p>
				<div class="w3btns-agile">
					<a href="contact.html">Get In Touch</a>
				</div>
			</div>
		</div>
	</div>
	<!-- work end here -->

		<!-- team -->
	<div class="team agileits-w3layouts">
		<div class="container"> 
		
			<div class="w3ls-title"> 
				<h3 class="agileits-title w3title1">Teacher Introduction</h3>
			</div>
			<div class="team-info wthree">
				<div class="col-md-6 team-w3lsgrids">
					<div class="team-left">
						<img class="img-responsive" src="{% static 'images/t1.jpg' %}" alt="">
					</div>
					<div class="team-right">
						<h4>Vivamus lias</h4>
						<p>Teacher lias is the most conscientious and reqponsible teacher. </p>
						<div class="social-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
							<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 team-w3lsgrids">
					<div class="team-left">
						<img class="img-responsive" src="{% static 'images/t2.jpg' %}" alt="">
					</div>
					<div class="team-right">
						<h4>Aliquam fauc </h4>
						<p>Teacher Aliquam is very beautiful and kind and students like him very much!</p>
						<div class="social-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
							<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="team-info team-row2">
				<div class="col-md-6 team-w3lsgrids">
					<div class="team-left">
						<img class="img-responsive" src="{% static 'images/t3.jpg' %}" alt="">
					</div>
					<div class="team-right">
						<h4>Donec nibh </h4>
						<p>Who is the most handsome man ? It must be Mr Donec !</p>
						<div class="social-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
							<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 team-w3lsgrids">
					<div class="team-left">
						<img class="img-responsive" src="{% static 'images/t1.jpg' %}" alt="">
					</div>
					<div class="team-right">
						<h4>Sed augue </h4>
						<p>Sed is a good man who can care about everyone.</p>
						<div class="social-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
							<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->
	{% endblock %}