{% extends 'base1.html' %}
{% load staticfiles %}
{% block content %}

	<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="banner-text agileits-w3layouts">
				<div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="banner-textagileinfo">
								<h6>WELCOME TO</h6>	 
								<h3>Teacher comments analysis</h3>
								<div class="more">
									<a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
								</div>	
							</div>	
						</li>
						<li>
							<div class="banner-textagileinfo"> 
								<h6>WELCOME TO</h6>	 
								<h3>know about us</h3>
								<div class="more">
									<a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
								</div>	
							</div>	
						</li>
						<li>
							<div class="banner-textagileinfo">
								<h6>WELCOME TO</h6>
								<h3>use us</h3>
								<div class="more">
									<a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
								</div>		
							</div>		
						</li> 
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-sign -->
	<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body modal-spa">
					<img class="img-responsive" src="images/g1.jpg" alt="">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at. Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius. uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, Lorem ipsum dolor sit amet, non convallis felis mattis at. Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque, eget porttitor massa vulputate in. Fusce lacus purus, pulvinar ut lacinia id, sagittis eu mi. Vestibulum eleifend massa sem, eget dapibus turpis efficitur at. Aliquam viverra quis leo et efficitur. Nullam arcu risus, scelerisque quis interdum eget, fermentum viverra turpis. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut At vero eos </p>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-sign -->
	<div class="tlinks">Collect <a href="#" >us</a></div>
	<!-- //banner -->
		<!-- welcome -->
	<div class="welcome"> 
		<div class="container">
		<div class="col-md-6 welcome-w3lright">
				<div class="welcome-grids">
					<div class="service-box">
						<div class="agileits-wicon">
							<i class="fa fa-clone" aria-hidden="true"></i>
						</div>
						<h5>Data</h5>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="welcome-grids">
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<h5>analysis</h5>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i class="fa fa-tv" aria-hidden="true"></i>
						</div>
						<h5>show</h5>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div> 
			<div class="col-md-6 welcome-w3lleft">
				<h3 class="agileits-title">Welcome !</h3>
				<h4>加入我们并开始使用吧...</h4>
				<p>这是一个教师评价数据智能分析网站，在这里，你可以对教师添加文字评价，系统
                    会自动根据学生对教师的评价数据进行智能化分析，生成评价标签，并以词云的形式
                    展示出来，带给用户最直观的结果。希望可以带给大家帮助，如果信任我们，欢迎使用本网站。
				</p>   
			</div>  
			
			<div class="clearfix"> </div>
		</div> 
	</div>
	<!-- //welcome -->
	<!-- testimonials -->
	<div class="testimonials">
		<div class="container"> 
		<div class="w3ls-title">
			<h3 class="w3ls-title">Testimonials</h3>
		</div>
			<div class="slidw3-agileits"> 
				<div class="col-md-4 slid-w3text"> 
					<h4>Filan Isteku</h4>
					<p>"Proin tincidunt sodales faucibus. Curabitur ut metus sed urna dignissim sodales ac a tellus. Sed varius justo tellus, at convallis libero cursus non. In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Fusce sed vulputate dui."</p>
				</div> 
				<div class="col-md-4 slid-w3text">
					<h4>Ullam Firose</h4> 
					<p>"Proin tincidunt sodales faucibus. Curabitur ut metus sed urna dignissim sodales ac a tellus. Sed varius justo tellus, at convallis libero cursus non. In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Suspendisse commodo tempor magna" </p>
				</div> 
				<div class="col-md-4 slid-w3text">
					<h4>Metus Ipsum</h4> 
					<p>"Proin tincidunt sodales faucibus. Curabitur ut metus sed urna dignissim sodales ac a tellus. Sed varius justo tellus, at convallis libero cursus non. In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Suspendisse commodo tempor magna" </p>
				</div> 
				<div class="clearfix"> </div>
			</div>   
		</div>
	</div>
	<!-- //testimonials -->
	
	<!-- features -->
	<div class="features">
		<div class="container">
			<div class="w3ls-title">
				<h3 class="agileits-title">Features</h3> 
			</div>
			<div class="features-agilerow">
				<div class="col-sm-6 features-left">
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>高效</h4>
							<p>收集评价大部分高校采用的是书面的调查问卷，效果不好，而我们采用网站的方式，大大提高了效率。</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid features-w3grid-mdl">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>词云展示</h4>
                            <p>我们将评价标签统计词频 ，后台将标签按频率由大到小展示出来，十分直观！</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>数据可视化 </h4>
							<p>大部分高校不会将所有学生评价展示出来，而我们不仅对数据进行处理，而且在学生评价后可以看到所有的评价，实现了数据可视化。</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>  
				<div class="col-sm-6 features-left">
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
							
						<div class="col-xs-9 features-w3grid-right">
							<h4>智能分析</h4>
							<p>教师评价的数据繁多而复杂，处理很困难，我们的网站采用后台自动处理分析的方式，真正实现了智能化。</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid features-w3grid-mdl">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</div>
							
						<div class="col-xs-9 features-w3grid-right">
							<h4>抽取标签</h4>
							<p>由于评价数据较多，如果用户不想逐条查看，我们将评价抽取成标签，并制作成词云的方式，展示出来。</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>新颖 </h4>
                            <p>高校中教师评价基本没有采用填写文字评论的方式，因为对文字数据进行处理很复杂，而我们的网站自动对数据进行处理，处理方式十分新颖。</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->
<!-- work start here -->
	<div class="work jarallax">
		<div class="container">
			<div class="work-agileinfo">
				<h3>Are You Impressed By Our Work?</h3>
				<p>Teacher Comments Analysis is there anyone who loves or pursues or desires to obtain pain.</p>
				<div class="w3btns-agile">
					<a href="contact.html">Get In Touch</a>
				</div>
			</div>
		</div>
	</div>
	<!-- work end here -->
	<!-- news -->
	<div class="news">
		<div class="container"> 
			<div class="w3ls-title">
				<h3 class="agileits-title">Honours List</h3>
			</div> 
			<div class="agileits_w3layouts_news_grids"> 
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="{% static 'images/g3.jpg' %}" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4>Teacher Wu</h4>
						</div>
					</div>
					
					<h5><a href="#" data-toggle="modal" data-target="#myModal">Bibendum ex sit amet</a></h5>
					<p>Teacher Wu is the most conscientious and reqponsible teacher.</p>
				</div>		
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="{% static 'images/g1.jpg' %}" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4>Teacher Hua</h4>
						</div>
					</div>
					<h5><a href="#" data-toggle="modal" data-target="#myModal">Augue in felis facili</a></h5>
					<p>Who is the most handsome man ? It must be Mr Hua!</p>
				</div>  
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="{% static 'images/g2.jpg' %}" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4>Teacher Cheng</h4>
						</div>
					</div>
					<h5><a href="#" data-toggle="modal" data-target="#myModal">Facilisis consecte</a></h5>
					<p>Mrs Cheng is very beautiful and kind!</p>
				</div>	 
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="{% static 'images/g3.jpg' %}" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4>Teacher Zhang</h4>
						</div>
					</div>
					<h5><a href="#" data-toggle="modal" data-target="#myModal">Sodales augue felis</a></h5>
					<p>He is a good man who can care about everyone.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news --> 

	{% endblock %}